fieldset {
  padding: 20px;
  border: solid 1px black;
}

legend {
  color: black;
  display: flex !important;
  align-items: end !important;
}

.reset {
  all: revert;
}

.imgLogo {
  width: 30px;
  height: 30px;
  background-image: url(../../../../assets/img/unidos.svg);
  background-repeat: no-repeat;
}
