fieldset {
  padding: 20px;
  border: solid 1px black;
}

legend {
  color: black;
  display: flex !important;
  align-items: end !important;
}

.reset {
  all: revert;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}