/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    cursor: pointer;
}

button {
    width: 100%;
    margin-bottom: 10px;
}

.mat-mdc-dialog-actions {
    justify-content: center !important;
}

.dialog button {
    margin-right: 8px;
    width: 140px;
    max-width: 100%;
}